body, div{
    padding-top: 0.5em;
    padding-left: 0.4em;
    margin: 0;
    font-size: 14px;
}

.lorem{
    font-family:Consolas;
    color: #0094ff;
}

.lorem::first-line{
    font-weight: bold;
}

.lorem::first-letter{
    font-family: "Edwardian Script ITC";
    font-size: 2em;
}