
body {
    font-size: 26px;
    font-weight: 800;
}

body, ul, li, div, p, fieldset, legend {
    margin: 0;
    padding: 0;
    font-family: Corbel,sans-serif;
    color: rgba(46, 35, 35, 0.9);
}

.wrapped, #table, fieldset {
    border: 3px solid rgba(46, 35, 35, 0.80);
}

.wrapped {
    border-radius: 15px;
    padding: 8px 5px 10px 15px;
    width: 1035px;
    height: 755px;
}

ul {
    list-style: none;
    margin: 5px 25px 10px 25px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 3px solid rgba(46, 35, 35, 0.80);
    font-size: 1.5em;
}

    ul li {
        display: inline-block;
    }

a {
    color: #42b8e6;
}

    a:hover {
        text-decoration: none;
        color: blue;
    }

.table-row {
    display: table-cell;
    padding: 0 0 10px 2px;
}

#table {
    display: table;
    width: 65%;
    float: left;
    padding: 0 10px 8px 5px;
    margin-right: 20px;
    margin-top: 7px;
}

.table-cell {
    width: 98.2%;
}

img {
    float: left;
    width: 160px;
}

legend {
    text-align: center;
}

fieldset {
    height: 195px;
    margin-bottom: 5px;
    padding: 5px 10px 3px 3px;
}

.cell {
    margin-top: 19px;
    margin-left: 5px;
}

.image {
    display: table-cell;
    float: left;
    margin-left: 5px;
}

.price {
    margin-left: 25px;
}

.param {
    margin-top: 33px;
}

aside {
    margin-top: 102px;
    font-size: 1.3em;
    font-weight: normal;
    text-align: left;
}

p {
    color: black;
    margin-top: 10px;
    padding: 0;
}

input {
    width: 24%;
    margin: 32px 5px 18px 20px;
}

span.price {
    word-spacing: 10px;
}

span.ram {
    word-spacing: 34px;
}

#ram-range {
    padding-top: 20px;
}
